.example-card {
  max-width: 200px;
  margin-right: 10px;
  margin-top: 40px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
